* {
    font-family: 'EB Garamond', serif;
  
}

/* Navigation */
.navbar-nav .nav-link {
    letter-spacing: 0.08rem;
}

.icon-link {
    transition: color 0.2s ease;
    font-size: 1.15rem;
}

.icon-link:hover,
.icon-link:focus {
    color: #ffffff;
}

.navbar-toggler {
    border-color: #5a5a5a;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand span {
    font-size: 2.0rem;
    font-weight: 500;
    letter-spacing: 0.30rem;
}


